/* Contenedor principal: se pincha la sección y se oculta el overflow horizontal */
.sliderContainer {
  position: relative;
  width: 100vw;
  padding: 2vh 20px;
  overflow: hidden; /* Oculta el scroll horizontal */
}

/* Contenedor interno para alinear las fichas horizontalmente */
.wrapper {
  display: flex;
  gap: 50px;
  /* La anchura se calculará en función de los elementos hijos */
}

/* Estilo de cada ficha */
.slide {
  position: relative;
  display: flex;
  align-items: center;
  width: 800px;
  min-width: 85vw;
  height: auto;
  padding: 20px;
  backdrop-filter: blur(10px);
  background: linear-gradient(transparent 65%, hsla(240, 1%, 60%, 0.47));
  border-radius: 0 80px 0 80px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 30px 60px -12px;
}

.slide::before,
.slide::after {
  content: '';
  position: absolute;
  border-radius: 0 80px 0 80px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.slide::after {
  bottom: -10px;
  right: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 5px solid rgba(105, 27, 50, 0.3);
  transform: translate(10px, 10px);
}

.slide:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 22px 70px 4px;
}

.slide:hover::after {
  transform: translate(0, 0);
  border: 5px solid rgba(105, 27, 50, 0.6);
}

.text {
  width: 40%;
}

.text h2 {
  color: var(--grisClr);
  font-weight: 500;
  font-size: 1rem;
}

.text h2 span:first-of-type {
  color: var(--vinoOsc);
  font-weight: 600;
  font-style: italic;
}

.text h2 span {
  color: var(--doradoOsc);
  font-weight: 600;
  font-style: italic;
  font-size: 2.3rem;
}

.imgContainer {
  width: 60%;
  height: 300px;
  background-color: aqua;
}

/* doradoOsc */
