.aboutContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 50px 20px;
  gap: 20px;
}

.logoAcuerdo,
.aboutTxt {
  width: 50vw;
  height: auto;
}

/* 
.aboutTxt {
  width: 60vw;
  height: auto;
  padding-right: 2.5vw;
} */

.aboutContainer p {
  text-align: justify;
}

.aboutContainer h3,
.aboutContainer h2 {
  margin: 5px 0;
}

.aboutContainer h3 {
  color: var(--grisClr);
}

.tren {
  width: 100vw;
  height: 150px;
  background: url('/img/vias.png') no-repeat bottom;
  background-size: 100% auto;
  position: relative;
}


/* Tama単o para 'md' */
/* @media (min-width: 576px) {
  .aboutContainer {
    background-color: lightblue;
    flex-direction: column;

  }
} */

/* Tama単o para 'lg' */
/* @media (min-width: 768px) {
  .aboutContainer {
    background-color: lightgreen;

  }
} */

/* Tama単o para 'xl' */
/* @media (min-width: 1024px) {
  .dualContainer {
    background-color: lightcoral;
  }
} */

/* Tama単o para 'xxl' */
@media (min-width: 1400px) {
  /* .dualContainer {
    background-color: lightgoldenrodyellow;
  } */
}