.container {
  padding: 90px 3rem 2rem 3rem;
}

.container h2 {
  background: linear-gradient(120deg, var(--vinoOsc), var(--vinoClr));
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--blanco);
  border-radius: 8px 25px 8px 25px;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container p {
  color: var(--grisOsc);
  text-align: justify;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.section01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.section01Img img {
  width: 27vw;
  height: auto;
}

/*  */

.section02 {
  position: relative;
  padding: 1.5rem;
  background-color: #f7f7f7;
  margin: 2rem 0 0 0;
}

.cornerBottomLeft {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 4px solid var(--vinoClr);
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 40px;
  z-index: 2;
  animation: drawBottomLeft 1s ease-out forwards;
}

@keyframes drawBottomLeft {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
}

.cornerTopRight {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: -4px;
  right: 0;
  border: 4px solid var(--vinoClr);
  border-left: none;
  border-bottom: none;
  border-radius: 0 50px 0 0;
  z-index: 2;
  animation: drawTopRight 1s ease-out forwards;
}

@keyframes drawTopRight {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
}

.section03 {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: #f7f7f7;
}


/*  */
.section04 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.columnLeft,
.columnRight {
  flex: 1;
}

.columnLeft h2,
.columnRight h2 {
  text-align: left;
}

.columnLeft p,
.columnRight p {
  text-align: justify;
}

.sectionLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  letter-spacing: 3.5px;
}

.Button {
  position: relative;
  cursor: pointer;
  padding: 0.75rem 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--vinoClr);
  background-color: transparent;
  border: 2px solid var(--vinoClr);
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1;
}

.Button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, var(--vinoOsc), var(--vinoClr));
  opacity: 0.2;
  transition: all 0.4s ease;
  z-index: 0;
}

.Button:hover::before {
  left: 0;
}

.Button:hover {
  background-color: rgba(220, 180, 130, 0.1);
  box-shadow: 0 0 10px var(--vinoClr), 0 0 20px var(--vinoClr);
  color: var(--vinoOsc);
}

.Button:focus {
  outline: none;
  box-shadow: 0 0 10px var(--vinoOsc);
}